name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps: 
    - name: Bajar el código
      uses: actions/checkout@v3

    - name: Loguearse en Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Construir y Subir Imagen
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        # IMPORTANTE: Aquí GitHub construirá la imagen con tu usuario
        tags: ${{ secrets.DOCKER_USERNAME }}/analizador-pdf:latest